{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1 class="text-white bg-dark">タスク編集</h1>

  <div class="form">
      <form action="/edit/{{task.id}}" method="post"> <!--actionで送信先指定-->
          <input type="text" name="content" id="content" value="{{task.content}}" class="form-control bg-dark text-white"> 
          <input type="submit" value="編集する" class="btn btn-success">
      </form>
  </div>

</div>
{% endblock %}